<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="card">
            <h1>Sobre mim</h1>
            <p>Olá, sou o Nicholas Ciacci estudante de programação na Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>